*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo{
    background-color: blue;
    width: 100%;
    height: 15vh;
}
#menu{
    background-color: brown;
    width: 100%;
    height: 10vh;
}
#principal{
    background-color:darkgreen;
    width: 70%;
    height: 60vh;
}
#patrocinio{
    background-color:red;
    width: 30%;
    height: 60vh;
}
#rodape{
    background-color:grey;
    width: 100%;
    height: 15vh;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}